<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand"  href="javascript:void(0)">管理界面</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a ng-href="#/user" ng-click="$location.path('/user')" ng-show="{{currentUser.isAdmin}}">用户管理</a></li>
                <li><a ng-href="#/customer" ng-click="$location.path('/customer')">顾客管理</a></li>
                <li><a ng-href="#/employee" ng-click="$location.path('/employee')" ng-show="{{currentUser.isAdmin}}">雇员管理</a></li>
                <li><a ng-href="#/equipment" ng-click="$location.path('/equipment')">器材管理</a></li>
                <li><a ng-href="#/account" ng-click="$location.path('/account')">收支管理</a></li>
                <li class="active"><a ng-href="#/course" ng-click="$location.path('/course')">课程管理</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li> <a>Hello, {{currentUser.name}} </a></li>
                <li><a href="javascript:void(0);" ng-click="logout()">退出登录</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <form role="form">
        <div class="form-group">
            <label>名称</label>
            <input type="text" class="form-control" placeholder="名称" ng-model="course.name">
        </div>
        <div class="form-group">
            <label>编号</label>
            <input type="text" class="form-control" placeholder="编号" ng-model="course.seq">
        </div>
        <div class="form-group">
            <label>教练</label>
            <input type="text" class="form-control" placeholder="教练" ng-model="course.coach">
        </div>
        <button type="submit" class="btn btn-default" ng-click="do_submit()">Submit</button>
    </form>
</div>