<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand"  href="javascript:void(0)">管理界面</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/user" ng-click="$location.path('/user')" ng-show="{{currentUser.isAdmin}}">用户管理</a></li>
                <li><a ng-href="#/customer"  ng-click="$location.path('/customer')" ng-show="{{currentUser.isAdmin}}">顾客管理</a></li>
                <li class="active"><a ng-href="#/employee"  ng-click="$location.path('/employee')" ng-show="{{currentUser.isAdmin}}">雇员管理</a></li>
                <li><a ng-href="#/equipment"  ng-click="$location.path('/equipment')">器材管理</a></li>
                <li><a ng-href="#/account"  ng-click="$location.path('/account')" ng-show="{{currentUser.isAdmin}}">收支管理</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li> <a>Hello, {{currentUser.name}} </a></li>
                <li><a href="javascript:void(0);" ng-click="logout()">退出登录</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <form role="form">
        <div class="form-group">
            <label>雇员名</label>
            <input type="text" class="form-control" placeholder="雇员名" ng-model="employee.name">
        </div>
        <div class="form-group">
            <label>电话号码</label>
            <input type="tel" class="form-control" placeholder="输入 电话" ng-model="employee.phone">
        </div>
        <div class="form-group">
            <label>年龄</label>
            <input type="number" class="form-control" placeholder="输入 年龄" ng-model="employee.age">
        </div>

        <div class="form-group">
            <label>性别(是否男性)</label>
            <input type="text" class="form-control" placeholder="输入性别编码" ng-model="employee.grender">
        </div>
        <button type="submit" class="btn btn-default" ng-click="create()">Submit</button>
    </form>
</div>