<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand"  href="javascript:void(0)">管理界面</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">用户管理</a></li>
                <li><a ng-href="#/customer"  ng-click="$location.path('/customer')">顾客管理</a></li>
                <li class="active"><a ng-href="#/employee"  ng-click="$location.path('/employee')">雇员管理</a></li>
                <li><a ng-href="#/equipment"  ng-click="$location.path('/equipment')">器材管理</a></li>
                <li><a ng-href="#/account"  ng-click="$location.path('/account')">收支管理</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <form role="form">
        <div class="form-group">
            <label>Email address</label>
            <input type="email" class="form-control" placeholder="Enter email" ng-model="employee.email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Password" ng-model="employee.password">
        </div>
        <div class="form-group">
            <label>Employee name</label>
            <input type="text" class="form-control" placeholder="Employee name" ng-model="employee.name">
        </div>
        <div class="form-group">
            <label>Employee age</label>
            <input type="number" class="form-control" placeholder="Employee age" ng-model="employee.age">
        </div>
        <button type="submit" class="btn btn-default" ng-click="create()">Submit</button>
    </form>
</div>