<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand"  href="javascript:void(0)">管理界面</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">用户管理</a></li>
                <li class="active"><a ng-href="#/customer"  ng-click="$location.path('/customer')">顾客管理</a></li>
                <li><a ng-href="#/employee"  ng-click="$location.path('/employee')">雇员管理</a></li>
                <li><a ng-href="#/equipment"  ng-click="$location.path('/equipment')">器材管理</a></li>
                <li><a ng-href="#/account"  ng-click="$location.path('/account')">收支管理</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <form role="form">
        <div class="form-group">
            <label>顾客名</label>
            <input type="text" class="form-control" placeholder="顾客名" ng-model="customer.name">
        </div>
        <div class="form-group">
            <label>电话号码</label>
            <input type="tel" class="form-control" placeholder="输入 电话" ng-model="customer.phone">
        </div>
        <div class="form-group">
            <label>年龄</label>
            <input type="number" class="form-control" placeholder="输入 年龄" ng-model="customer.age">
        </div>

        <div class="form-group">
            <label>性别(是否男性)</label>
            <input type="text" class="form-control" placeholder="输入性别编码" ng-model="customer.grender">
        </div>
        <button type="submit" class="btn btn-default" ng-click="create()">Submit</button>
    </form>
</div>