<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand"  href="javascript:void(0)">管理界面</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a ng-href="#/user" ng-click="$location.path('/user')" ng-show="{{currentUser.isAdmin}}">用户管理</a></li>
                <li><a ng-href="#/customer" ng-click="$location.path('/customer')">顾客管理</a></li>
                <li><a ng-href="#/employee" ng-click="$location.path('/employee')" ng-show="{{currentUser.isAdmin}}">雇员管理</a></li>
                <li><a ng-href="#/equipment" ng-click="$location.path('/equipment')">器材管理</a></li>
                <li class="active"><a ng-href="#/account" ng-click="$location.path('/account')">收支管理</a></li>
                <li><a ng-href="#/course" ng-click="$location.path('/course')">课程管理</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li> <a>Hello, {{currentUser.name}} </a></li>
                <li><a href="javascript:void(0);" ng-click="logout()">退出登录</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="form-group input-group ">
        <button type="button" class="btn btn-primary btn " ng-click="go_to_create_account()">添加收支</button>
        <button type="button" class="btn btn-default btn "  ng-click="delete_all_selected_accounts()">批量删除</button>
    </div>
    <div class="form-group input-group ">
        <input type="search" class="form-control" />
        <span class="input-group-btn ">
            <button class="btn btn-default" type="button" >Search</button>
        </span>
    </div>
</div>

<div class="container">

    <table id="account-table" class="table table-bordered">
        <thead>
        <tr>
            <th><input type="checkbox" ng-model="selectedAll" ng-change="select_all_or_select_none()"/></th>
            <th>ID</th>
            <th>收支名</th>
            <th>价格</th>
            <th>购买日期</th>
            <th>类型</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
            <tr class="account_line" ng-repeat="account in accounts">
                <td><input type="checkbox" ng-model="account.selected"/></td>
                <td> {{account.id}}</td>
                <td> {{account.name}} </td>
                <td> {{account.price}} </td>
                <td> {{account.paidTime}} </td>
                <td> {{account.type}} </td>
                <td>
                    <button class="btn" ng-click="update(account.id)">修改 </button>
                    <button class="btn" ng-click="deleteUser(account.id)">删除 </button>
                </td>
            </tr>
        </tbody>
    </table>

    <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
</div>